# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.silniki-lab-timeline.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\kamio90\Documents\Unity\silniki-lab-timeline\.idea\.idea.silniki-lab-timeline\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
